@font-face {
    src: url("Fonts/couture-bld.otf");
    font-family: "Couture";
}
@font-face {
    src: url("Fonts/Louis George Cafe Light.ttf");
    font-family: "Louis George";

}


body{
    margin: 0;
    font-family: "Louis George", sans-serif;
    font-weight: 300;
    background: linear-gradient(30deg,
            #ffa17f, #00223e);
    color: white;
    line-height: 30px;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #D7CBBD;
}
.button{
    transition:all 500ms;
}
.button:hover {
    background: rgba(159, 117, 117, 0.53);
    letter-spacing: 2px;
    border-radius: 18px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: 60px;
    font-size: 20px;
    align-items: center;
   background: #1c1c1c;

}
.navigation a{
    width: max-content;
    padding: 10px;
}

header div{
    display: inline-block;
}
.main-part{
    height: 600px;
    display: flex;


}
.main-part #intro-main{
    padding-left: 200px;
    width: 40%;
    display: flex;
    flex-direction: column;

}
#image-main{
    width: 50%;
}
#main-part-title{
    padding-top: 50px;
    padding-bottom: 0px;
    font-size: 40px;
    font-family: "Louis George" ;
}
#main-part-title #name{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
    font-family: Couture;
}
#welcome{
    font-size: 15px;
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navigation a{
    transition:  500ms;
}
.navigation a:hover{
    background: rgba(72, 66, 66, 0.44);
    border-radius: 7px;
    letter-spacing: 2px;
    text-decoration: underline #9f7575;
}
.button{
    width: 130px;
    letter-spacing: 1px;
    height: 45px;
    border: solid #9f7575 2px;
    text-align: center;
    padding-top: 15px;
    transition: 500ms;
}
#main-part-exp{
    font-size: 20px;
    padding-top: 50px;
}
#main-part-exp .num{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    opacity: 0.5;
}
#divider{
    background: rgba(159, 117, 117, 0.24);
    color: #1c1c1c;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* animated text */
#animated-text{
    font-size: 44px;
    font-weight: 200;
    min-width: 200px;
}
#animated-text span{
    font-weight: bold;
    letter-spacing: 5px;
    color: #D7CBBD;
}
#animated-text span::before{
    content: 'Creative';
    /*
    : #D7CBBD;*/
    animation: words 3s infinite;
}
@keyframes cursor {
    70%{
        border-left: 1px solid rgb(194, 194, 194);

    }
    100%{
        border-left: 2px solid #D7CBBD;
    }
}
@keyframes words {
    0%, 20%{
        content: 'Brave';
    }
    21%, 40%{
        content: 'Open-Minded';
    }
    41%, 60%{
        content: 'Motivated';
    }
    61%, 80%{
        content: 'Insightful';
    }
    81%, 100%{
        content: 'Thoughtful';
    }
}
@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%,90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
    }
}
#animated-text span::after{
    content: '';
    width: 100%;
    height:100% ;
    border-left: 2px solid #D7CBBD ;
    animation: cursor .6s infinite, typing 20s steps(14);
}

#about{
    height: 250px;
    /*!*background: #484242;*!*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about .container{
    width: 18%;
    height: 170px;
    border: dashed #9f7575 2px;
    text-align: justify;
    line-height: 22px;
    padding: 30px;
}
#about .container .containter-title{
    font-size: 18px;
   color: #9f7575;

    text-align: center;
    padding-top:5px;
    padding-bottom: 15px;
    font-weight: 700;
    letter-spacing: 4px;
}
.about-me{
    height: 1200px;
    /*background: #D7CBBD;*/
    padding: 100px 100px 100px 100px;
}

#get-to-know-me{
    color: #D7CBBD;
    padding: 20px;
    width: max-content;
    background: rgba(0, 34, 62, 0.37);
    letter-spacing: 2px;
    font-weight: 600;
}
#about-me-title, #about-title{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Couture;
    font-size: 35px;
}
#about-me-title{
    padding-top: 30px;
}
#about-me-explanation{
    padding: 30px;
    line-height: 30px;
    font-size: 20px;
    /*
    : #1c1c1c;*/
    font-style: italic;
}
#get-to-know-more{
    margin-top: 50px;
    padding: 40px 40px 40px 40px;
    height: 150px;
    background: #9f7575;
}
#get-to-know-more #extra-text{
    /*
    : #D7CBBD;*/
    font-size: 20px;
    padding-bottom: 40px;
}
#extra{
    height: 300px;
}

#title-extra{
    padding-top: 20px;
    width: max-content;
    padding-bottom: 20px;
    font-size: 35px;
    font-family: Couture;
    letter-spacing: 3px;
}
#extra li{
    font-size: 20px;
    line-height: 40px;
    margin-left: 20px;
}



#get-to-know-more .button{
    font-size: 20px;
    padding-top: 20px;
    width: 200px;
    height: 50px;
    background: #805959;
}
#interests{
    height: 750px;
    padding: 30px 100px 100px 100px;
    /*background: #1c1c1c;*/
}
#interests #title{
    font-family: Couture;
    font-size: 35px;
}

#interests #interests-containter{
    margin-top: 60px;
    display: grid;

    grid-template-columns: 500px 500px;
    grid-template-rows: 300px 300px;
    gap: 70px;
    line-height: 22px;
    justify-content: center;
}
#interests .hidden{

    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}
#interests .container-title{
    padding-top: 20px;
    background: #9f7575;
    width: max-content;
    margin: 20px;
    padding: 30px;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: Couture;
    letter-spacing: 3px;
}
#interests .hidden{
    align-items: center;
}
#interests .hidden:first-child{
    border-bottom: solid #D7CBBD 1px;
    border-right: solid #D7CBBD 1px;
}
#interests .hidden:last-child{
    border-left: solid #D7CBBD 1px;
    border-top: solid #D7CBBD 1px;
}
#projects-main{
    height: 1000px;
    /*background: #D7CBBD;*/
    padding: 30px 100px 100px 100px;
}
#projects-main-title{
    font-family: Couture;

    font-size: 35px;
    padding-bottom: 30px;
}
#all-projects{
    height: 350px;
    justify-content: center;
    display: grid;
    grid-template-columns: 500px 500px;
}

#all-projects .projects-title{
    font-size: 23px;
    padding: 30px;
    font-weight: 700;
    font-family: Couture;
    background: rgba(20, 68, 112, 0.37);
    width: max-content;

}
#divider-button{
    display: flex;
    justify-content: center;
}

#all-projects .projects-explanation{
    padding-right: 100px;
    font-size: 20px;
}

#project-divider{
    padding-top: 15px;
    margin-top:30px;
    height: 100px;
    width:380px;
    background: #9f7575;
    border: dotted #725353 2px;
    transition: all 1s;
}
#project-divider:hover{
    border: solid #725353 2px;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.38);
    height: 110px;
    width: 400px;

}
#project-divider a{
    transition: all 200ms;
}
#project-divider a:hover{
    letter-spacing: 2px;
    color: #c5c5c5;
}



#project-divider #divider-title{
    font-size: 25px;
    padding-left: 30px;
    padding-top: 10px;
    font-weight: 700;
}

#project-divider #divider-text{
    padding-left: 30px;
    padding-top: 10px;
    font-size: 18px;
}
#project-divider #divider-text span{
    font-weight: 800;
}
#current-title{
    padding-top: 100px;
    font-size: 35px;
    font-family: Couture;

}

#current-explanation{
    padding-left: 30px;
    font-size: 20px;
    padding-top: 30px;

}
#current-container{
    padding-top: 40px;
    padding-left: 30px;
    display: flex;
    gap: 50px;
}
#explanation-vertical{
    writing-mode: vertical-lr;
    font-family: Couture;
    padding-top: 50px;
    color: #9f7575;
    font-size: 25px;
    letter-spacing: 3px;
    width: 10px;
    height: 30px;
}
#current-container #current-ideas{
    width: 30%;
    padding: 25px;
    font-style: italic;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 18px;
   background: rgba(0, 34, 62, 0.35);
}
#current-container #view-project{
    width: 50%;
    border: dashed #2c78b6 2px;
    background: url("images/app-res.png") no-repeat;
}
#view-project{
    display: flex;
    justify-content: center;
    align-items: center;
}
#view-project:hover{
    box-shadow:  #484242;
}
#view-project #text{
    font-size: 20px;
    color: #00223e;
    font-weight: 900;
    padding: 15px;
    transition: all 1s;
}
#contact-info{
    height: 200px;
    padding: 50px;
    background: #131313;

}
#contact-info #contact-title{
    /*
    : #1c1c1c;*/
    font-weight: 700;
    letter-spacing: 2px;
}

#view-project #text:hover{
    background: #484242;
    color: #D7CBBD;
    letter-spacing: 2px;
    border-radius: 10px;
}
#my-goals{
    margin-top: 100px;
    padding: 50px;
    height: 500px;
   background: #001425;
}
#goal-list{
    display: flex;
    gap: 20%;
    justify-content: center;

}
.button-project{
    font-family: Couture;

}
#my-goals-title {
    font-size: 35px;
    font-family: Couture;

}
#main-text-goals{
    padding-top: 20px;
    font-size: 23px;
}
#my-goals li{
    font-size: 20px;
    list-style-image: url("images/science.png");
    list-style-position: inside;
    padding-top:30px;
}
.hidden{
    opacity: 0;
    filter: blur(1px);
    transform: translateX(-10px);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media (prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}
#interests .hidden:nth-child(2){
    transition-delay: 300ms;
}
#interests .hidden:nth-child(3){
    transition-delay: 300ms;
}
#interests .hidden:nth-child(4){
    transition-delay: 100ms;
}
#contact-containers{
    font-size: 20px;
    display: flex;
    gap: 200px;
    line-height: 50px;
}
.container-contact a{
    color: #9f7575;
    padding: 10px;
    transition: all 500ms;
}
#contact-title{
    padding-bottom: 40px;
    font-size: 30px;
}
.container-contact a:hover{

    background: rgba(159, 117, 117, 0.10);
    border-radius: 10px;
    letter-spacing: 2px;
}
.container-contact:first-of-type{
    border-right: dashed #9f7575 2px;
}